{% extends "base.html" %}

{% block title %}商品詳細{% endblock %}
{% block content %}
<h1>商品一覧</h1>
<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>商品名</th>
        <th>商品詳細の説明</th>
        <th>価格</th>
        <th>カテゴリ</th>
        <th>商品画像</th>
    </tr>
    
    <tr>
        <td>{{ object.name }}</td>
        <td>{{ object.detail }}</td>
        <td>{{ object.price }} 円</td>
        <td>{{ object.category }}</td>
        <td>{{ object.img }}</td>
    </tr>
</table>

{# ページの表示 #}
<a href="{% url 'list' %}">戻る</a>

{% endblock %}